footer {
    color:#696969;
    text-align:center;
    
}

h1{
    color:#696969;
    font-weight: bold;
    text-align: center;
}
h2{
    color:#696969;
    text-align: center;

}
body {
    color: white;

}

.nav{
    color:#696969;
    text-align:center;
    justify-content:center;
    text-decoration-line:underline;
    width:60px;
}

a{
    color:#FFFF99;
    text-align:center;
    width: 60px;

}
table
{
    max-width:none;
    background-color:#F08080;
    border-collapse:collapse;
    border-spacing:10px 50px;
    border-color: white;
}


.table
{
    width:auto;
    height:auto;
    margin-bottom:20px;
}

.table th,.table td
{
    width:auto;
    height:auto;
    padding:8px;
    line-height:20px;
    text-align:left;
    vertical-align:top;
    border-top:1px solid #dddddd;
}



.deletedrecipe {
    color:red;
    font-style:italic;
}

.validationError {
    color:red;
    font-weight:bold;

}

.div {
    width: 300px;
    height: 100px;
    border: 1px#

}

p{

    background-color:#F08080;
    color:#FFFF99;
    text-align:left;


}